.container-fluid {
   background-color: white;
}

.nav-link::after {   //:after-Pseudoelement verhindert springen - reserviert unsichtbar die Breite des fetten Textes
   content: attr(data-text); // attr= attribut - liest entsprechenden Wert im html-code aus - data Pflicht bei Namensgebung
   display: block;
   font-weight: bold;
   height: 0;
   visibility: hidden; // Macht Text unsichtbar 
   overflow: hidden; //Verhindert, dass unsichtbare Text herausragt aus Element
 }
 
 .myActiveClass {
   font-weight: bold;
   color: rgb(141, 189, 243);
 }
 
 .nav-link:hover {
   color: rgb(139, 92, 246);
   font-weight: bold;
 }