<main class="d-flex align-items-center min-vh-100">
  <fieldset class="container col-4 col-offset-4" id="signup">

    <h3 class="mb-3">Registrierung</h3>

    <form>
      <div class="form-group mb-3">
        <div>
          <label class="form-label">Vorname</label>
        </div>
        <input type="text" class="form-control" [formControl]="vornameControl" id="inputVorname">
      </div>

      <div class="form-group mb-3">
        <div>
          <label class="form-label">Nachname</label>
        </div>
        <input type="text" class="form-control" [formControl]="nachnameControl" id="inputNachname">
      </div>

      <div class="form-group mb-3">
        <div>
          <label class="form-label">Email</label>
        </div>
        <input type="email" class="form-control" placeholder="name@email.com" [formControl]="emailControl"
          id="inputEmail">
      </div>

      <div class="form-group mb-3">
        <div>
          <label class="form-label">Passwort</label>
        </div>
        <input type="password" class="form-control" [formControl]="passwordControl" id="inputPassword" required>
      
      </div>
      <div class="form-group mb-3">
        <button type="button" class="btn btn-secondary" [disabled]="!isValid()" (click)="create()">Registrieren</button>
      </div>

      <p *ngIf="gespeichert" class="text-success">
        Registrierung erfolgreich! Du kannst dich jetzt einloggen.
      </p>
      <p *ngIf="speicherFehler" class="text-danger">
        Registrierung fehlgeschlagen. Bitte versuche es erneut.
      </p>

    </form>
  </fieldset>
</main>