.btn-primary {
    background-color: #8B5CF6;
    border-color: #8B5CF6;
}
  
.btn-primary:hover {
    background-color: #3B82F6;
    border-color: #3B82F6;
}

.modal {
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}
