main {
    background-image: url('/images/medcycle-bg-dunkel.svg');
    background-size: cover;
    background-attachment: fixed;
}

h1, h3 {
    color: rgb(59, 130, 246);
}

h2 {
    color: rgb(77, 75, 75);
}

h5 {
    color: rgb(139, 92, 246);
}

h6 {
    color: rgb(77, 75, 75);
    font-weight: bold;
}

p, ul {
    color: rgb(77, 75, 75);
}

ul li::marker {    
   color: rgb(188, 174, 243);
}

ul ul li {
    list-style-type: square;
}

@media screen and (min-width: 800px) {
    p {
        font-size: large;
    } 
}